@model IEnumerable<RecruitingProject.Entity.Job>
@{
    ViewBag.Title = "UserDashboard";
}
@Html.Partial("_Header")

<h6 style="margin:15px"> Please always check your mail, you will be notified once your application have been accepted or rejected  </h6>

<table class="table table-bordered table-responsive-lg" >
    <thead>
        <tr>
            <th scope="col">Job Name</th>
            <th scope="col"> Excepted Salary </th>
            <th scope="col">Employer Name</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var job in Model)
            {
                <tr>
                    <td>@job.JobName</td>
                    <td>@job.Amount</td>
                    <td>@job.EmployerName</td>
                    <td>@job.OfficeLine</td>
                </tr>
            }
        }
    </tbody>
</table>


