@model IEnumerable<RecruitingProject.Entity.Job>

@{
    ViewBag.Title = "MoreJobs";
}

<link rel="stylesheet" type="text/css" href="~/Template/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="~/Template/assets/css/font-awesome.css" )>

<link rel="stylesheet" href="~/Template/assets/css/style.css">

<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action" style="background-image: url(../../Template/assets/images/banner-image-1-1920x500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>Our <em>Jobs</em></h2>
                    <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->

<!-- ***** Fleet Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <br>
        <br>

        <div class="row">
            <div class="col-lg-4">
                @using (Html.BeginForm("FindParticularJobs", "Job", FormMethod.Post, new { @name = "myForm", @id = "myForm" }))
                {

                    <h5 style="margin-bottom: 15px">Category</h5>

                    <div>
                        <label>


                            @{
                                foreach (var job in Model)
                                {
                                    <input type="checkbox" name="chkUpdateThis" id="@job.CategoryId" >
                                        
                                    <span>@Html.ActionLink(@job.Category.CategoryName, "GetParticularJobs", "Job", new {id = @job.Category.Id }, null ) <br /></span>
                                }
                            }
                        </label>
                    </div>

                }

                <br>
            </div>

            <div class="col-lg-8">
                <div class="row">

                        @foreach (var job in Model)
                        {
                            <div class="col-md-6">
                                <div class="trainer-item">
                                    <div class="image-thumb">
                                        <img src=@job.ImageLocation alt="">
                                    </div>
                                    <div class="down-content">
                                        <span> <sup>$</sup>@job.Amount </span>

                                        <p>click on view more to apply for the job as applicant </p>

                                        <h6>@job.JobName</h6>

                                        <ul class="social-icons">
                                            <li>@Html.ActionLink("+ View More", "Details", "Job", new { id = job.Id }, null)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        }

                </div>
            </div>
        </div>

        <br />

        <nav>
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    
</section>

