<!DOCTYPE html>
<html>

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>My Recuiting Application</title>

    <link rel="stylesheet" type="text/css" href="Template/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="Template/assets/css/font-awesome.css")>

    <link rel="stylesheet" href="Template/assets/css/style.css">
</head>

<body>
    <!-- ***** Preloader start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky container-fluid  ">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        @Html.Partial("_NavBar")
                    </div>
                </div>
            </div>
        </header>
    <!-- ***** Header Area End ***** -->
    
    <div class="container-lg ">
        @RenderBody()
        <hr />

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Copyright © 2020 Genesy
                            - Designed by: <a href="">Chisom  @DateTime.Now.Year </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- jQuery -->
    <script src=@Url.Content("~/Template/assets/js/jquery-2.1.0.min.js")></script>

    <!-- Bootstrap -->
    <script src=@Url.Content("~/Template/assets/js/popper.js")></script>
    <script src=@Url.Content("Template/assets/js/bootstrap.min.js")></script>

    <!-- Plugins -->
    <script src=@Url.Content("~/Template/assets/js/scrollreveal.min.js")></script>
    <script src=@Url.Content("~/Template/assets/js/waypoints.min.js")></script>
    <script src=@Url.Content("~/Template/assets/js/jquery.counterup.min.js")></script>
    <script src=@Url.Content("~/Template/assets/js/imgfix.min.js")></script>
    <script src=@Url.Content("~/Template/assets/js/mixitup.js")></script>
    <script src=@Url.Content("~/Template/assets/js/accordions.js")></script>

    <!-- Global Init -->
    <script src=@Url.Content("~/Template/assets/js/custom.js")></script>


    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
