@{ Layout = null;}
@model RecruitingProject.Models.ReviewViewModel
@{
    ViewBag.Title = "Details";
}
@Html.Partial("_AdminHeader")

<style>
    .wrapper{
        width:100%;
        max-width:960px;
    }
  .container{
      display:flex;
      justify-content:space-between;
      justify-items:center;
      align-items:center;
      
  }
    .box {
        width: 400px;
        max-width: 400px;
        flex-grow: 1;
        padding:10px;
      
    }
   
</style>
   
<div class="wrapper">
    <div class="container">
        <div class="box one">
            <img src="@Model.Applicants.ImageLocation"  alt="..." style="width:300px; height:300px; border-radius:50%;">
        </div>
        <div class="box two ">
            <h3>Name: @Model.Applicants.FirstName @Model.Applicants.LastName</h3>
            <h3>Birthday: @string.Format("{0 : d MMM yyyy}", Model.Applicants.Dob)</h3>
            <h3>Application Status: @Model.Applicants.ApplicationStatus </h3>
            <h3>Stack: @Model.ApplyForJobs.JobRole </h3>
            <h3>View Resume:<button><a href="@Url.Content(Model.ApplyForJobs.UploadResume)"  target="_blank">View </a></button></h3>
        </div>
    </div>

</div>

@Html.Partial("_AdminFooter")


