@{Layout = null; }
@model IEnumerable<RecruitingProject.Entity.Applicant>
@{
    ViewBag.Title = "GetAllApplicantfortheJob";
}
@Html.Partial("_AdminHeader")

<table id="cant" class="table table-bordered table-hover table-responsive-lg dbtable">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th> Applicant Status</th>
        </tr>

    </thead>
    <tbody>

        @{
            foreach (var applicant in Model)
            {
                <tr>
                    <td>@applicant.FirstName</td>
                    <td>@applicant.LastName</td>
                    <td>@applicant.ApplicationStatus</td>
                </tr>
            }
        }

    </tbody>
</table>

<div style="margin: 20px">
    @Html.ActionLink("Return back", "Index", "Admin")
</div>
@Html.Partial("_AdminFooter")


