@{Layout = null; }
@model IEnumerable<RecruitingProject.Entity.ApplyForJob>
@{
    ViewBag.Title = "SubmittedApplication";
}
@Html.Partial("_AdminHeader")
<style>
    th{
        width:5%;
    }
</style>
   @{
        if (!Model.Any())
        {
            ViewBag.Message = "Please there is no list of submitted Application";
        }
        else
        {
            <table class="table table-striped table-striped table-responsive center  ">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Stack</th>
                        <th scope="col">Job Name</th>
                        <th scope="col">Job Deadline</th>
                        <th scope="col">Date Applied</th>
                        <th scope="col">Applicant Status</th>
                        <th scope="col">Applicant Detail</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var data in Model)
                        {
                            <tr>

                                <td>@data.Applicant.FirstName</td>
                                <td>@data.JobRole</td>
                                <td>@data.Job.JobName</td>
                                <td>@string.Format("{0:d MMM yyyy}", data.Job.JobDeadLine)</td>
                                <td>@string.Format("{0:d MMM yyyy}", data.DateApply)</td>
                                <td>@data.Applicant.ApplicationStatus</td>
                                <td>@Html.ActionLink("Details", "Details", "Admin", new { id = data.Applicant.id }, new { @class = "btn btn-info" })</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
<div style="margin: 20px">
    @Html.ActionLink("Return back", "Index", "Admin")
</div>
@Html.Partial("_AdminFooter")


