@{Layout = null; }
@model IEnumerable<RecruitingProject.Entity.Job>
@{
    ViewBag.Title = "GetAllAvaliableJobs";
}
@Html.Partial("_AdminHeader")

<table id="jobs" class="table table-bordered table-hover dbtable">
    <thead>
        <tr>
            <th>Job name</th>
            <th>Pay</th>
            <th>Dead line</th>
            <th>Applicant</th>
            <th>Edit Job</th>
        </tr>

    </thead>
    <tbody>

        @{
            foreach (var job in Model)
            {
                <tr>
                    <td>@job.JobName</td>
                    <td>@job.Amount</td>
                    <td>@string.Format("{0:d MMM yyyy}", job.JobDeadLine)</td>
                    <td>@Html.ActionLink("View All Applicant", "GetAllApplicantfortheJob", "Admin", new { id = job.Id }, new { @class = "btn btn-info" })</td>
                    <td>@Html.ActionLink("Update Job", "Edit", "Job", new { id = job.Id }, new { @class = "btn btn-info" })</td>
                </tr>
            }
        }

    </tbody>
</table>
<div>
    <h6> Please click on the applicant to view list of applicants that applied for a job</h6>
    <div style="margin: 20px">
        @Html.ActionLink("Return back", "Index", "Admin")
    </div>
    @Html.Partial("_AdminFooter")
</div>


