@model IEnumerable<RecruitingProject.Entity.Job>
@{
    ViewBag.Title = "GetAllAvaliableJobs";
}

<link rel="stylesheet" type="text/css" href="~/Template/assets/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="~/Template/assets/css/font-awesome.css" )>

<link rel="stylesheet" href="~/Template/assets/css/style.css">

<table id="jobs" class="table table-bordered table-hover dbtable">
    <thead>
        <tr>
            <th>Job name</th>
            <th>Pay</th>
            <th>Dead line</th>
            <th>Applicant</th>
        </tr>

    </thead>
    <tbody>

        @{
            foreach (var job in Model)
            {
                <tr>
                    <td>@job.JobName</td>
                    <td>@job.Amount</td>
                    <td>@job.JobDeadLine</td>
                    <td>@Html.ActionLink("View All Applicant", "GetAllApplicantfortheJob", "Admin", new { id = job.Id }, new { @class = "btn btn-info" })</td>
                </tr>
            }
        }

    </tbody>
</table>
<div>
    <h4> Please click on the applicant to accept or reject the application</h4>
    @Html.ActionLink("Return back", "Index", "Admin")
</div>


